<template>
  <div class="cv">
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container" align="center">
          <figure class="image is-128x128">
            <img class="is-rounded" src="../assets/portrait.jpg"/>
          </figure>
          <h1 class="title"> Gösta von Götz</h1>
          <p class="subtitle"> M. Sc. RWTH</p>
        </div>
      </div>
    </section>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Personal Information</h1>
          <div v-for="(info, type) in cv.personalInfo" :key="type" class="columns is-mobile personal-columns">
            <div class="column is-4 personal-columns" align="right">
              <p v-if="type.toLowerCase()==='location'">
                <span class="icon has-text-danger">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                <span class="is-hidden-mobile">
                  Location
                </span>
              </p>
              <p v-else-if="type.toLowerCase()==='mail'">
                <a v-bind:href="'mailto:'+info">
                  <span class="icon has-text-info">
                    <i class="fas fa-envelope"></i>
                  </span>
                </a>
                <span class="is-hidden-mobile">
                  Mail
                </span>
              </p>
              <p v-else-if="type.toLowerCase()==='born'">
                <span class="icon has-text-warning">
                  <i class="fas fa-star-of-life"></i>
                </span>
                <span class="is-hidden-mobile">
                  Born
                </span>
              </p>
              <p v-else-if="type.toLowerCase()==='nationality'">
                <span class="icon has-text-success">
                  <i class="fas fa-globe-africa"></i>
                </span>
                <span class="is-hidden-mobile">
                  Nationality
                </span>
              </p>
              <p v-else>{{type}}</p>
            </div>
            <div class="column personal-columns" align="left">
              <p>{{info}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Education</h1>
          <CVItem v-for="item in cv.education" :key="item.title + item.organization" v-bind="item"/>
        </div>
      </div>
    </section>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Occupational History</h1>
          <CVItem v-for="item in cv.occupationalHistory" :key="item.title + item.organization" v-bind="item"/>
        </div>
      </div>
    </section>
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Scholarships and Voluntary Activities</h1>
          <CVItem v-for="item in cv.scholarshipsAndVoluntary" :key="item.title + item.organization" v-bind="item"/>
        </div>
      </div>
    </section>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Skills</h1>
          <SkillSet v-for="item in cv.skillSets" :key="item.title" v-bind="item"/>
        </div>
      </div>
    </section>
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">About Myself</h1>
          <SkillSet v-for="item in cv.aboutMyself" :key="item.title + item.organization" v-bind="item"/>
        </div>
        <div class="container">
          <div class="notification has-text-centered" style="margin-top: 2rem">
            <p class="is-size-5">Meet me at a <span><a href="https://www.meetup.com/de-DE/members/257471442/" target="_blank" rel="noopener noreferrer">
              <img id="meetupLogo" alt="Meetup" src="../assets/meetup-logo.svg">
            </a>
            </span>.
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <small>
            I made this CV using <a href="https://vuejs.org/">vue.js</a>, <a href="https://bulma.io/">Bulma</a> and <a href="https://fontawesome.com/">fontawesome</a>.
          </small>
        </p>
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <button class="button" @click="printCV"><span class="icon has-text-info"><i class="fas fa-print"></i></span>&nbsp;&nbsp;Print</button>
          </p>
          <p class="control">
            <button class="button" @click="downloadJSON"><span class="icon has-text-info"><i class="fas fa-arrow-down"></i></span>&nbsp;&nbsp;JSON</button>
          </p>
          <p class="control">
            <a class="button" href="https://gitlab.com/trashboat/cv"><span class="icon has-text-info"><i class="fab fa-gitlab"></i></span>&nbsp;&nbsp;Code</a>
          </p>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import CVItem from './CVItem'
import SkillSet from './SkillSet'
import cv from '../assets/cv.json'

export default {
  name: 'CurriculumVitae',
  data () {
    return {
      cv: cv
    }
  },
  methods: {
    downloadJSON () {
      const cvJSON = JSON.stringify(this.cv, null, 2)
      let element = document.createElement('a')
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(cvJSON))
      element.setAttribute('download', 'cv.json')

      element.style.display = 'none'
      document.body.appendChild(element)

      element.click()

      document.body.removeChild(element)
    },
    printCV () {
      window.print()
    }
  },
  components: {
    CVItem,
    SkillSet
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.circular-img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}
.personal-columns {
  padding-bottom: 0;
}
#meetupLogo {
  display: inline;
  height: 2rem;
  margin-left: 0.1rem;
  vertical-align: middle;
}
</style>
