<template>
  <div class="columns">
    <div class="column is-4 is-hidden-mobile has-text-right">
      <p id="title">{{ title }}</p>
      <p id="subtitle">{{ subtitle }}</p>
      <p>{{ duration }}</p>
    </div>
    <div id="cvitem" class="column has-text-left">
      <p id="organization"><span class="is-hidden-tablet">{{ title }} @ </span>{{ organization }}
        <span v-if="link" class="icon">
          <a v-bind:href="link" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
        </span>
      </p>
      <p id="department">{{ department }}</p>
      <p class="is-hidden-tablet is-italic">{{ subtitle }}</p>
      <p class="is-hidden-tablet">{{ duration }}</p>
      <p v-if="location" id="location">
        <span class="icon has-text-danger">
          <i class="fas fa-map-marker-alt"></i>
        </span>
        {{ location }}
      </p>
      <p v-for="detail in details" :key="detail"><small>{{ detail }}</small></p>
      <div v-if="tags" class="tags">
        <span v-for="tag in tags" :key="tag" class="tag">{{ tag }}</span>
      </div>
      <p v-if="publications">
        <span class="icon has-text-info">
          <i class="fas fa-book-open"></i>
        </span>
        Publications
      </p>
      <p id="publication" v-for="publication in publications" :key="publication.title">
        <small>{{ publication.author }}: <strong class="has-text-weight-semibold">{{ publication.title }}</strong>, {{ publication.journal }}, {{ publication.location }}, {{ publication.year }}
          <a v-if="publication.link" v-bind:href="publication.link" target="_blank" rel="noopener noreferrer">
            <span class="icon">
              <i class="fas fa-external-link-alt"></i>
            </span>
          </a>
        </small>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CVItem',
  props: [
    'title',
    'subtitle',
    'duration',
    'organization',
    'department',
    'link',
    'location',
    'details',
    'tags',
    'publications',
    'contact'
  ]
}
</script>

<style scoped>
#title {
  font-weight: bold;
}
#subtitle {
  font-style: italic;
}
#organization {
  font-weight: bold;
}
.tags {
  margin-top: 5px;
}
</style>
