<template>
  <div class="columns">
    <div class="column is-4 has-text-right has-text-left-mobile">
      <p id="title" class="is-size-5">{{ title }}</p>
    </div>
    <div id="cvitem" class="column has-text-left">
      <div class="field is-grouped is-grouped-multiline">
        <div v-for="skill in skills" :key="skill.name" class="control">
          <div v-if="skill.level" class="tags has-addons">
            <span class="tag is-link is-medium">{{ skill.name }}</span>
            <span v-if="typeof(skill.level) === 'number'" class="tag is-medium is-dark has-text-warning">
              <i v-for="m in skill.level" :key="m" class="fas fa-star"></i>
              <i v-for="n in maxLevel - skill.level" :key="n + 100" class="far fa-star"></i>
            </span>
            <span v-else class="tag is-medium is-dark has-text-warning">{{ skill.level }}</span>
          </div>
          <div v-else class="tags">
            <span class="tag is-link is-medium">{{ skill.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SkillSet',
  props: {
    title: String,
    skills: Array,
    maxLevel: {
      type: Number,
      default: 3
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
