<template>
  <div id="app">
    <CurriculumVitae/>
  </div>
</template>

<script>
import CurriculumVitae from './components/CurriculumVitae'

export default {
  name: 'App',
  components: {
    CurriculumVitae
  }
}
</script>

<style>
</style>
